@model SupplyChain.Models.Product

@{
    ViewData["Title"] = "Novo Produto";
}

<h1 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">Novo Produto</h1>

<h4>Produtos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nome</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Descrição</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNumber" class="control-label">Código de Referência</label>
                <input asp-for="ProductNumber" class="form-control" />
                <span asp-validation-for="ProductNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Categoria</label>
                @Html.DropDownList("CategoryId", ViewData["CategoryId"] as List<SelectListItem>, "Selecione uma categoria", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="ManufacturerId" class="control-label">Fabricante</label>
                @Html.DropDownList("ManufacturerId", ViewData["ManufacturerId"] as List<SelectListItem>, "Selecione um fabricante", new { @class = "form-control" })
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-success"/>
                <a asp-action="Index" style="margin-right: 10px" class="btn btn-primary">Voltar</a>
            </div>
        </form>
    </div>
</div>

