@model SupplyChain.Models.InventoryManagement

@{
    ViewData["Title"] = "Novo Registro";
}

<h1>Novo Registro</h1>

<h4>Entrada de Mercadoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Produto</label>
                @Html.DropDownList("ProductId", ViewData["ProductId"] as List<SelectListItem>, "Selecione um produto", new { @class = "form-control", required = "required"  })
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Local" class="control-label">Local</label>
                <input asp-for="Local" class="form-control" />
                <span asp-validation-for="Local" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Quantidade</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <br/>
               <div class="form-group">
               <input type="submit" value="Criar" class="btn btn-success"/>
               <a asp-action="Index" style="margin-right: 10px" class="btn btn-primary">Voltar</a>
               </div>
        </form>
    </div>
</div>

